<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:label="Snapdragon Voice Lab"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhisperApp">
        <uses-native-library android:name="libcdsprpc.so" android:required="false" />
        <activity android:name=".qnn.QnnSmokeActivity" android:exported="true" />
        <activity android:name=".qnn.M35RealAudioEncoderActivity" android:exported="true" />
        <activity android:name=".qnn.M35RealAudioDecoderActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
